$contentWidth: 1200px;

%headingLg {
    font-size: 64px;
    font-weight: 700;
}

%headingMd {
    font-size: 48px;
    font-weight: 700;
}

%headingSm {
    font-size: 32px;
    font-weight: 700;
}

$colorBk: #202027;
$colorGn: #BCEC30;
$colorLg: #E1FF8F;