.games__heading, .about__heading, .hero__heading {
  font-size: 64px;
  font-weight: 700;
}

.games__game-title {
  font-size: 48px;
  font-weight: 700;
}

.about__game-title {
  font-size: 32px;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.center {
  margin: 0 auto;
}

.hero {
  background-color: #E1FF8F;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
.hero img {
  position: absolute;
  z-index: 1;
}
.hero__star-group {
  right: 0;
  top: 0;
}
.hero__star-1 {
  top: 94px;
  left: 63px;
}
.hero__star-2 {
  top: 69px;
  left: 156px;
}
.hero__star-3 {
  right: 455px;
  bottom: 135px;
}
.hero__star-4 {
  right: 344px;
  bottom: 59px;
}
.hero__container {
  max-width: 1200px;
  padding-top: 196px;
  padding-bottom: 156px;
  position: relative;
  z-index: 2;
}
.hero__heading {
  color: #202027;
  margin-bottom: 24px;
  max-width: 769px;
}
.hero__desc {
  font-size: 24px;
  line-height: 32px;
  color: #202027;
  margin-bottom: 48px;
  max-width: 769px;
}
.hero__btn {
  background-color: #202027;
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  width: 247px;
  border-radius: 60px;
  padding: 16px 28px;
  border: 1px solid #202027;
  font-family: inherit;
  text-decoration: none;
  display: block;
  text-align: center;
}
.hero__btn:hover {
  background-color: #fff;
  color: #202027;
}
.hero span {
  font-weight: 700;
}

.line {
  background-color: #BCEC30;
  width: 100%;
  overflow-x: hidden;
}
.line__container {
  background-color: #BCEC30;
  padding: 27px 19px;
  display: flex;
  gap: 51px;
  position: relative;
  -webkit-animation: move 15s linear infinite;
          animation: move 15s linear infinite;
}
.line__text {
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: #202027;
  white-space: nowrap;
}

@-webkit-keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-180%);
  }
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-180%);
  }
}
.about {
  background-color: #202027;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
.about__container {
  max-width: 1200px;
  padding: 94px 0 50px;
}
.about__games-wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.about__heading {
  color: #fff;
  margin-bottom: 24px;
}
.about__desc {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 72px;
  max-width: 760px;
}
.about__star {
  position: absolute;
  z-index: 1;
}
.about__star_1 {
  top: 770px;
  left: 25px;
}
.about__star_2 {
  top: 822px;
  left: 40px;
}
.about__star_3 {
  top: 97px;
  right: 0;
}
.about__star-mob {
  display: none;
}

.about__game {
  border-radius: 30px;
  overflow: hidden;
}
.about__game:hover {
  transform: scale(1.05);
}
.about__game a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.about__game-inner-container {
  background-color: #fff;
  padding: 32px 32px 36px 32px;
}
.about__game-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  position: relative;
  z-index: 2;
}
.about__game-number {
  background-color: #f7f7f7;
  padding: 8px 16px 10px 16px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 52.6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  margin-bottom: 16px;
  color: #202027;
}
.about__game-title {
  color: #202027;
}

.games {
  background-color: #202027;
  position: relative;
  padding: 46px 40px 144px;
}
.games__heading {
  color: #fff;
  margin-bottom: 72px;
  color: #fff;
}
.games__container {
  max-width: 1200px;
}
.games__game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
}
.games__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.games__inner-container {
  max-width: 600px;
  padding: 48px;
}
.games__game-img {
  max-width: 600px;
}
.games__game-title {
  margin-bottom: 24px;
}
.games__game-desc {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 36px;
}
.games__game-btn {
  font-size: 24px;
  line-height: 142%;
  background-color: #202027;
  color: #fff;
  font-family: inherit;
  border-radius: 60px;
  padding: 16px 28px;
  text-align: center;
  width: 247px;
  border: 1px solid #202027;
  font-weight: 600;
}
.games__game-btn:hover {
  background-color: #fff;
  color: #202027;
}
.games__game-desc_1, .games__game-desc_3 {
  max-width: 440px;
}
.games__game-desc_5 {
  max-width: 380px;
}
.games__star {
  position: absolute;
}
.games__star_1 {
  top: 93px;
  right: 124px;
}
.games__star_2 {
  top: 126px;
  right: 45px;
}
.games__star_3 {
  bottom: 45px;
  right: 150px;
}
.games__star_4 {
  bottom: 65px;
  right: 52px;
}

.footer {
  background-color: #BCEC30;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 1400px) {
  .about__game-container {
    max-width: calc((100% - 64px) / 3);
  }
}
@media (max-width: 1240px) {
  .about {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hero__heading {
    font-size: 40px;
  }
  .hero__desc {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .hero__container {
    text-align: center;
    padding-top: 147px;
    padding-bottom: 131px;
  }
  .hero__btn {
    font-size: 16px;
    width: 285px;
    height: 55px;
    padding: 10px 28px;
    margin: 0 auto;
  }
  .hero__desc {
    line-height: normal;
    margin-bottom: 36px;
  }
  .hero__star-group,
.hero__star-1,
.hero__star-2,
.hero__star-3,
.hero__star-4 {
    display: none;
  }
  .hero__star-mob {
    display: block;
    position: absolute;
  }
  .hero__star-mob_1 {
    top: 64px;
    left: 91px;
  }
  .hero__star-mob_2 {
    top: 97px;
    left: 37px;
  }
  .hero__star-mob_3 {
    top: 0;
    right: 0;
  }
  .hero__star-mob_4 {
    bottom: 74px;
    right: 86px;
  }
  .hero__star-mob_5 {
    bottom: 28px;
    right: 34px;
  }
  .hero__btn:hover {
    background-color: #202027;
    color: #fff;
  }
  .line__text {
    font-size: 16px;
  }
  .line__img {
    width: 19.34px;
    height: 19.34px;
  }
  .line {
    padding: 17px 18px;
    gap: 27.4px;
  }
  .games__game {
    display: flex;
    flex-direction: column;
  }
  .games__game:nth-of-type(odd) {
    flex-direction: column-reverse;
  }
  .games__heading {
    font-size: 40px;
    margin-bottom: 48px;
  }
  .games__game-title {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 16px;
  }
  .games__game-desc {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 32px;
  }
  .games__inner-container {
    padding: 29px 29px 32px;
    max-width: 100%;
  }
  .games {
    padding: 48px 16px;
  }
  .games__game-btn {
    font-size: 16px;
    width: 100%;
  }
  .games__wrapper {
    gap: 24px;
  }
  .games__star {
    display: none;
  }
  .games__game-img {
    max-width: 100%;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer {
    height: 100px;
  }
}/*# sourceMappingURL=style.css.map */