@import "vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.center {
    margin: 0 auto;
}

.hero {
    background-color: $colorLg;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;

    img {
        position: absolute;
        z-index: 1;
    }

    &__star-group {
        right: 0;
        top: 0;
    }

    &__star-1 {
        top: 94px;
        left: 63px;
    }

    &__star-2 {
        top: 69px;
        left: 156px;
    }

    &__star-3 {
        right: 455px;
        bottom: 135px;
    }

    &__star-4 {
        right: 344px;
        bottom: 59px;
    }

    &__container {
        max-width: $contentWidth;
        padding-top: 196px;
        padding-bottom: 156px;
        position: relative;
        z-index: 2;
    }

    &__heading {
        @extend %headingLg;
        color: $colorBk;
        margin-bottom: 24px;
        max-width: 769px;
    }

    &__desc {
        font-size: 24px;
        line-height: 32px;
        color: $colorBk;
        margin-bottom: 48px;
        max-width: 769px;
    }

    &__btn {
        background-color: $colorBk;
        color: #fff;
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        width: 247px;
        border-radius: 60px;
        padding: 16px 28px;
        border: 1px solid $colorBk;
        font-family: inherit;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    &__btn:hover {
        background-color: #fff;
        color: $colorBk
    }

    span {
        font-weight: 700;
    }
}

.line {
    background-color: $colorGn;
    width: 100%;
    overflow-x: hidden;

    &__container {
        background-color: $colorGn;
        padding: 27px 19px;
        display: flex;
        gap: 51px;
        position: relative;
        animation: move 15s linear infinite;
    }

    &__text {
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: .04em;
        color: $colorBk;
        white-space: nowrap;
    }
}

@keyframes move {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-180%);
    }

}

.about {
    background-color: $colorBk;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;

    &__container {
        max-width: $contentWidth;
        padding: 94px 0 50px;
    }

    &__games-wrapper {
        display: flex;
        column-gap: 32px;
    }

    &__heading {
        @extend %headingLg;
        color: #fff;
        margin-bottom: 24px;
    }

    &__desc {
        font-size: 24px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 72px;
        max-width: 760px;
    }

    &__star {
        position: absolute;
        z-index: 1;
    }

    &__star_1 {
        top: 770px;
        left: 25px;
    }

    &__star_2 {
        top: 822px;
        left: 40px;
    }

    &__star_3 {
        top: 97px;
        right: 0;
    }

    &__star-mob {
        display: none;
    }
}

.about__game {
    border-radius: 30px;
    overflow: hidden;

    &:hover {
        transform: scale(1.05);
    }

    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    &-inner-container {
        background-color: #fff;
        padding: 32px 32px 36px 32px;
    }

    &-container {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        position: relative;
        z-index: 2;
    }

    &-number {
        background-color: #f7f7f7;
        padding: 8px 16px 10px 16px;
        display: block;
        width: max-content;
        border-radius: 52.6px;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        margin-bottom: 16px;
        color: $colorBk
    }

    &-title {
        @extend %headingSm;
        color: $colorBk;
    }
}

.games {
    background-color: $colorBk;
    position: relative;
    padding: 46px 40px 144px;

    &__heading {
        @extend %headingLg;
        color: #fff;
        margin-bottom: 72px;
        color: #fff;
    }

    &__container {
        max-width: $contentWidth;
    }

    &__game {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #fff;
        border-radius: 30px;
        overflow: hidden;

    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__inner-container {
        max-width: 600px;
        padding: 48px;
    }

    &__game-img {
        max-width: 600px;
        // width: 600px;
    }

    &__game-title {
        @extend %headingMd;
        margin-bottom: 24px;
    }

    &__game-desc {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 36px;
    }

    &__game-btn {
        font-size: 24px;
        line-height: 142%;
        background-color: $colorBk;
        color: #fff;
        font-family: inherit;
        border-radius: 60px;
        padding: 16px 28px;
        text-align: center;
        width: 247px;
        border: 1px solid $colorBk;
        font-weight: 600;
    }

    &__game-btn:hover {
        background-color: #fff;
        color: $colorBk;
        cursor: pointer;
    }

    &__game-desc_1,
    &__game-desc_3 {
        max-width: 440px;
    }

    &__game-desc_5 {
        max-width: 380px;
    }

    &__star {
        position: absolute;
    }

    &__star_1 {
        top: 93px;
        right: 124px;
    }

    &__star_2 {
        top: 126px;
        right: 45px;
    }

    &__star_3 {
        bottom: 45px;
        right: 150px;
    }

    &__star_4 {
        bottom: 65px;
        right: 52px;
    }
}

.footer {
    background-color: $colorGn;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        color: #000;
        font-size: 24px;
        font-weight: 600;
    }
}

@media (max-width: 1400px) {
    .about__game-container {
        max-width: calc((100% - 64px)/3);
    }
}

@media (max-width: 1240px) {
    .about {
        display: none;
    }
}

@media (max-width: 1024px) {
    .hero__heading {
        font-size: 40px;
    }

    .hero__desc {
        font-size: 16px;
    }

    .games__heading {
        font-size: 40px;
        margin-bottom: 48px;
    }

    .games__game-title {
        font-size: 32px;
        line-height: normal;
        margin-bottom: 16px;
    }

    .games__game-desc {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 32px;
    }

    .games__inner-container {
        padding: 29px 29px 32px;
        max-width: 100%;
    }

    .games {
        padding: 48px 16px;
    }

    .games__game-btn {
        font-size: 16px;
        width: 100%;
    }

    .games__wrapper {
        gap: 24px;
    }

    .games__star {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero__container {
        text-align: center;
        padding-top: 147px;
        padding-bottom: 131px;
    }

    .hero__btn {
        font-size: 16px;
        width: 285px;
        height: 55px;
        padding: 10px 28px;
        margin: 0 auto;
    }

    .hero__desc {
        line-height: normal;
        margin-bottom: 36px;
    }

    .hero__star-group,
    .hero__star-1,
    .hero__star-2,
    .hero__star-3,
    .hero__star-4 {
        display: none;
    }

    .hero__star-mob {
        display: block;
        position: absolute;
    }

    .hero__star-mob_1 {
        top: 64px;
        left: 91px;
    }

    .hero__star-mob_2 {
        top: 97px;
        left: 37px;
    }

    .hero__star-mob_3 {
        top: 0;
        right: 0;
    }

    .hero__star-mob_4 {
        bottom: 74px;
        right: 86px;
    }

    .hero__star-mob_5 {
        bottom: 28px;
        right: 34px;
    }

    .hero__btn:hover {
        background-color: $colorBk;
        color: #fff;
    }

    .line__text {
        font-size: 16px;
    }

    .line__img {
        width: 19.34px;
        height: 19.34px;
    }

    .line__container {
        padding: 17px 18px;
        gap: 27.4px;
    }

    .games__game {
        display: flex;
        flex-direction: column;
    }

    .games__game:nth-of-type(odd) {
        flex-direction: column-reverse;
    }

    .games__game-img {
        max-width: 100%;
    }

    .footer__text {
        font-size: 16px;
    }

    .footer {
        height: 100px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .games__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .games__game {
        display: flex;
        flex-direction: column;
    }

    .games__game:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .games__inner-container {
        margin-top: auto;
    }
}